/* Gallery interactive styles */

figure {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	width: 270px;
	height: 220px;
	background: #363636;
	position: relative;

	background-image: url('../assets/none.png');
	background-size: cover;
	background-position: center;
}

figure.big {
	width: 100%;
	height: 400px;
	margin: 0;
	padding: 0;
}

figure a {
	width: 270px;
	height: 195px;
}

figure.big p {
	margin-top: auto;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: black;
}

.left,
.right {
	border: 0;
	width: 40px;
	height: 40px;
	padding: 10px;
	background: rgba(151, 88, 88, 0.6);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 10000px;
	cursor: pointer;
}

figure:hover .left,
figure:hover .right {
	top: calc(50% - 15px);
}

.left {
	background-image: url('../assets/icons/left.png');
	left: 0;
}

.right {
	background-image: url('../assets/icons/right.png');
	right: 0;
}

@media (max-width: 600px) {
	figure.big {
		height: 300px;
	}
}
