.authForm {
	font-size: 1.3rem;
	width: 400px;
	margin: 5rem auto;
	color: black;
	border: 1px solid black;
	padding: 25px;
	position: relative;
}

form,
form fieldset {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

label {
	margin: 2rem 0 0 3rem;
	font-size: 1.1rem;
	text-align: start;
}

input {
	margin: 0 auto;
	font-size: 1rem;
	padding: 0 2rem;
	width: 20rem;
	height: 3rem;
	background: #c4c4c4;
	border: 0;
	border-radius: 1rem;
}

button {
	cursor: pointer;
	font-size: 1rem;
	margin: 4rem auto;
	padding: 0 4rem;
	width: 20rem;
	height: 3rem;
	background: #6b6b6b;
	border: 0;
	border-radius: 1rem;
}

button:focus {
	outline: none;
}

p {
	font-size: 1rem;
}

a {
	font-weight: bold;
	color: black;
}

.error {
	margin: 1.4rem 3rem 0;
	text-align: left;
	color: red;
}

.required::after {
	content: ' *';
	color: red;
}

form fieldset {
	width: 100%;
	border: 0;
	margin-bottom: 1rem;
}

.back img {
	height: 35px;
	width: 35px;
}

.back {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
}
