/* <Sidebar Menu for mobile devices> */
@media (max-width: 600px) {
	#nav {
		padding: 0;
	}

	#nav header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
	}

	button {
		text-align: center;
		border: 0;
		width: 31px;
		height: 31px;
	}

	button.openmenu {
		background: url('../assets/icons/open-menu.png') no-repeat;
		background-size: contain;
	}

	button.search {
		background: url('../assets/icons/search.png') no-repeat;
		background-size: contain;
	}

	button.closemenu {
		width: 20px;
		height: 20px;

		background: url('../assets/icons/close.png') no-repeat;
		background-size: contain;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 11;
	}

	button:focus {
		outline: none;
	}

	.menu {
		max-width: 90%;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 10;

		background: #dfdfdf;

		width: 20rem;
		min-height: 100vh;
		padding-top: 5rem;

		display: flex;
		flex-direction: column;
		justify-content: center;

		-webkit-transition: all 0.25s;
	}

	.login {
		position: absolute;
		top: 2rem;
	}
	.langSelector {
		display: flex;
		align-items: center;
	}

	.langtext p {
		color: black;
	}

	.lang {
		margin: 0;
	}

	.blank {
		position: fixed;
		right: 0;
		top: 0;
		min-height: 100vh;
		width: 100%;
		background: rgba(136, 136, 136, 0.7);
	}

	.slide-fade-enter-active {
		transition: all 0.3s ease;
	}
	.slide-fade-leave-active {
		transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
	}
	.slide-fade-enter,
	.slide-fade-leave-to {
		transform: translateX(-100rem);
		opacity: 0;
	}
}

/* </Sidebar Menu for mobile devices> */
