/* <Upper menu for computer styles> */
#nav {
	border-bottom: 1px solid black;
	padding: 5px 3rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	position: -webkit-sticky;
	position: sticky;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;

	background: white;
	background: rgb(233, 233, 233);
}

#nav a {
	font-weight: bold;
}

.menu {
	width: 80%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.logo,
.logo img {
	height: 49px;
	width: 216px;
}

/* .login {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: 3rem;
	width: 10rem;
	border-radius: 1rem;
	background: #c4c4c4;
} */

a.login {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: 3rem;
	width: 10rem;
	background: black;
	color: white;
}

.logout {
	width: ;
	border: 0;
	background: 0;
	font-weight: bold;
	font-size: 0.9rem;
	text-decoration: underline;
	cursor: pointer;
}
/* </Upper menu for computer styles> */
