#define SECRET_PASS ""
#define SECRET_SSID ""

// Change '?' to shopId and the number of the table
#define CALL_MSG "{\"type\":\"waiter\",\"shopId\":\"?\",\"tableNumber\":\"?\"}"

// IP of the backend server
#define IP_WEBSOCKET ""

// Port of the backend server
#define PORT_WEBSOCKET 
